.table-container {
  width: 60%; /* Ajusta o contêiner para preencher a largura disponível */
  margin: 40px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
}

table {
  width: 100%; /* Ajusta a tabela para a largura do contêiner */
  border-collapse: collapse;
  box-sizing: border-box; /* Inclui padding e bordas na largura total */
}


thead {
  background-color: #333;
  color: #fff;
}

th, td, h2 {
  padding: 20px; /* Ajuste o padding conforme necessário */
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin: 5px;
}

.btn-primary {
  background-color: #007bff; /* Azul padrão */
}

.btn-primary:hover {
  background-color: #0056b3; /* Azul escuro para o efeito hover */
}

.btn-danger {
  background-color: #dc3545; /* Vermelho para exclusão */
}

.btn-danger:hover {
  background-color: #c82333; /* Vermelho escuro para o efeito hover */
}
