
.container {
  width: 60%;
  margin: 100px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #f8f9fa;
overflow-x: auto;

}

table {
  width: 60%;
  border-collapse: collapse;
  box-sizing: border-box;
}


h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-group button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #00e832;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #00d400;
}
